.pg-viewer-wrapper {
    // overflow-y: scroll;
    position: relative;
    // padding: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
    width: inherit;
    height: inherit;
    background-color: #fff;
}

.pg-viewer-content {
    overflow: auto;
    word-break: break-all;
    white-space: pre-wrap;
    padding: 10px;
    height: 100%;
}